$defaultColor:darken(red, 15%);

//Table Courses Colors
$teal:lighten(teal, 15%);
$lightenTeal:lighten(teal, 35%);
$yellow:darken(yellow, 10%);
$purple:lighten(purple, 15%);
$pink:darken(pink, 10%);
$lightBlue:lighten(blue, 35%);
$ultraLightBlue:lighten(blue, 40%);
$green:lighten(green, 45%);